.rbc-event {
  background-color: inherit !important;
  border: none !important; }

@media (max-width: 600px) {
  .rbc-toolbar {
    flex-wrap: wrap;
    justify-content: center; } }

@media (max-width: 600px) {
  .rbc-toolbar > * {
    margin: 5px 0; } }

.Calendar {
  height: calc(100% - 150px);
  min-height: 425px;
  padding: 0 50px;
  box-sizing: border-box; }
  @media (max-width: 600px) {
    .Calendar {
      padding: 0 10px;
      height: calc(100% - 170px); } }
  .Calendar.full {
    height: 100%; }
  .Calendar .refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
    @media (min-width: 601px) {
      .Calendar .refresh {
        flex-direction: row; } }
    .Calendar .refresh * {
      flex: 1 1 100%;
      min-width: 100%; }
      @media (min-width: 601px) {
        .Calendar .refresh * {
          min-width: 50%;
          flex: 1 1 50%; } }
    .Calendar .refresh .link {
      text-align: right; }
